.headerContainer {
    padding: var(--space-md);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-md) var(--space-ml);
    background: var(--color-white);
    border-radius: var(--space-xs);

    .iconContainer {
        border-radius: 50%;
        padding: var(--space-md);
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 500;
            color: var(--color-white);
            font-size: var(--space-md);
        }
    }
    
    .ashBg {
        background: var(--color-grey);
    }

    .primaryBg {
        background: var(--color-primary);
    }

    .profileContainer {
        display: flex;
        align-items: center;
        gap: var(--space-md);

        .profileDetails {
            p {
                font-size: var(--space-sm);
                color: var(--color-ash)
            }
        }
    }
}