.drawerContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px !important;
    height: 100vh;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);  
    background: #fff;
    opacity: 1;

    .cancel {
        position: absolute;
        color: var(--color-ash);
        top: 30px;
        right: 20px;
    }
}

.open {
    transform: translateX(0);
}
