// .container {
//     margin: 2em;
//     padding: 2em;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     overflow-y: scroll !important;
//     width: 100%;
// }

.section {
  margin-inline: var(--space-lg);
  padding: var(--space-ml) var(--space-2xl);
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center !important;
  overflow-y: scroll !important;
  gap: var(--space-lg);
  width: 100% !important;
  height: 100%;
  // background: #ffffff85;
}

.section::-webkit-scrollbar {
  width: 2px;
}

.section::-webkit-scrollbar-track {
  background-color: #fff;
}

.section::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
}

.section::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.brandContainer {
  align-self: flex-start;
}

.desc {
  color: var(--color-grey-1);
  font-family: var(--font-dm-sans);
  font-size: 13px;
  margin-top: 5px;
}

.tab {
  padding: 12px 16px;
  gap: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  width: 100%;

  .tabDetails {
    width: 70%;
  }

  .tabTitle {
    font-size: var(--font-size-xs);
    font-weight: 600;
  }

  .tabDesc {
    font-family: DM Sans;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

.datePickerContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  border: 1px solid #a2a6ad;
  width: 100% !important;
  border-radius: 4px;

  .datePicker {
    display: block;
    padding: 12px 16px;
    gap: 16px;
    border: none;
    width: 100% !important;
  }
  .datePicker:focus {
    outline: none;
  }

  .icon {
    color: var(--color-black-2);
  }
}

.hr {
  border-bottom: 1px solid #e0e0e0;
}

.tabInactive {
  border: 1px solid #00000040;
}

.tabInactive:hover {
  border: 1.5px solid #14125e;
}

.tabActive {
  border: 1.5px solid #14125e;
}

.prompt {
  align-self: center;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #1d1d1f;

  .action {
    color: linear-gradient(180deg, #3b37ff 0%, #ff7a20 100%) !important;
    font-weight: 500;
    cursor: pointer;
  }
}

@media (max-width: 912px) {
  .section {
    padding: 0 !important;
    width: 85% !important;
    // margin-block: var(--space-2xl);
  }
}
