.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left {
  height: 100%;
  width: 100%;
  background: linear-gradient(338.14deg, #3b37ff -3.56%, #ff7a21 119.15%);
  padding: var(--space-ml) var(--space-2xl);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xl);

  .brandContainer {
    align-self: flex-start;
  }

  .title {
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  .desc {
    font-size: var(--font-size-sm);
    line-height: 22px;
    margin-top: 10px;
  }

  //   .asset {
  //     align-self: center;
  //   }
}

.right {
  height: 100%;
  width: 100%;
  background: url("../../public/images/authBg.png") no-repeat center center fixed;
  background-size: cover;
  padding: 2em 4em;
  position: relative;

  .mobileLogo {
    position: absolute;
    display: none !important;
    justify-content: center;
    width: 100%;
    top: 30;
    margin-top: 60px;
    margin-left: -30px;
  }
}

@media (max-width: 912px) {
  .container {
    padding: 0 !important;
  }
  .left {
    display: none !important;
  }

  .right {
    padding: var(--space-xs) var(--space-ml);
    // background-color: black;
    background-image: url("../../public/images/mobilebg.png") fixed no-repeat !important;
    background-size: cover;

    .mobileLogo {
      position: absolute;
      display: flex !important;
    }
  }
}
