.dashboardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-lg) var(--space-ml);
    background: var(--color-white);
    margin-block: var(--space-ml);
    border-radius: var(--space-xs);
    color: var(--color-ash);

    p {
        font-size: var(--space-ml);
        font-weight: 500;
    }

    .addButton {
        background: var(--color-primary);
        color: var(--color-white);
        padding: var(--space-md);
        border-radius: var(--space-xs);
        cursor: pointer;
    }
    
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto; /* 2 columns */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 20px; /* Gap between grid items */

    .card {
        padding: var(--space-ml);
        background: var(--color-white);
        border-radius: var(--space-xs);
        color: var(--color-ash);

        .cardHeader {
            font-weight: 400;
            font-size: var(--font-size-xs);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .cardBody {
            padding-top: var(--space-ml);
            font-size: var(--font-size-ml);
            font-weight: 600;
        }
    }
}

.tableContainer {
    margin-top: var(--space-lg);
    padding: var(--space-lg);
    background: var(--color-white);
    border-radius: var(--space-xs);

    .tableHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: var(--space-lg);

        .tableTitle {
            color: var(--black-2);
            font-size: var(--font-size-ml);
            font-family: var(--font-dm-sans);
            font-weight: 500;
            width: 100%;
        }
    }

}
  