@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Color variables */
  /* HSL allows us to make easier modifications to brightness */
  --color-primary: hsl(221, 44%, 41%);
  --color-primary-light: hsl(221, 32%, 65%);
  --color-primary-dark: hsl(211, 50%, 29%);
  /* But hardcoded hex values are also fine */
  --color-grey: #F6F6F6;
  --color-grey-1: #8F9299;
  --color-grey-mid: #797979;
  --color-grey-dark: #343d46;
  --color-black: #1a1a1a;
  --color-black-2: #131414;
  --color-black-3: #1D1D1F;
   --color-green: #0BB783;
  /* RGBA too */
  --color-white: rgba(255, 255, 255, 0.9);
  --color-off-white: #F9F9F9
  --color-ash: #616161;
  // Background
  --color-primary: linear-gradient(90.55deg, #FF7418 -76.45%, #232199 107.58%);

  /* Font family variables */
  --font-serif: 'Merriweather', serif;
  --font-sans-serif: 'Montserrat', sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Font size variables */
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-ml: 1.5rem;
  --font-size-lg: 2.25rem;
  --font-size-xl: 3rem;
  --font-size-2xl: 3.75rem;

  /* Spacing variables */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-ml: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-2xl: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  width: 100vw !important;
  height: 100vh !important;
  font-size: 16px;
  color: black;
  font-family:var(--font-dm-sans) !important;
}

a {
  text-decoration: none !important;
  color: inherit;
}

main {
  // padding: var(--space-md);
  background: var(--color-grey);
  width: 100% !important;
  height: 100vh !important;
  overflow-y: scroll !important;
}

label, input {
  display: block;
  width: 100%;
}

label, .label {
  font-weight: 500;
  line-height: 20px;
  margin-block: 15px 8px;
  font-size: var(--font-size-sm);
  color: var(--color-black-3);
  font-family: var(--font-dm-sans);
  letter-spacing: 0.25px;
}

input, .formcontrol {
  display: block;
  padding: var(--space-md) var(--space-ml);
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #A2A6AD;
  width: 100% !important;
}

input:focus {
  outline: none;
}

textarea {
  padding: 12px 16px;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #A2A6AD;
  height: 120px;
  width: 100%;
}

button {
  width: 100%;
  margin-block: 1em;
  padding: 18px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  background: linear-gradient(90.55deg, #FF7418 -76.45%, #232199 107.58%);
}

.btn-secondary {
  background: transparent;
  color: #1D1D1F;
  border: 1px solid #DBE1EB !important;
  font-weight: 400;
  padding: 18px;
  border-radius: 4px;
}

.password-icon{
  position: absolute;
  top: 40px;
  cursor: pointer;
  right: 15px;
}

.relative {
  position: relative !important;
}

.hide {
  display: none !important;
}

.line {
  border-top: 1px solid #DBE1EB;
  width: 100%;
}

.inputContainer {
  border-radius: 4px;
  border: 1px solid #A2A6AD;
  // padding: 12px 16px;
  input {
    border: none;
    outline: none;
  }

  select {
    height: inherit;
    padding-inline: .5em;
    width: 30%;
    border: none;
    outline: none;
    margin-left: 2px;
    font-weight: 500;
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  border: none;
  width: 50% !important;
  border-radius: var(--space-ml);
  padding-inline: var(--space-md);
  background: var(--color-grey) !important;

  input {
      display: block;
      padding: 12px 16px;
      gap: 16px;
      border: none;
      width: 100% !important;
      background: var(--color-off-white) !important;
  }
  input:focus {
      outline: none;
  }

  .icon {
      color: var(--color-black-2);
  }
}

.tableContainer {
  width: inherit;
  overflow-x: scroll !important;
}

table {
  width: 100%;
  overflow-x: scroll !important;

  thead {
    color: var(--color-white);
    border-radius: var(--space-xs);
    margin-inline: -50px;
    color: var(--color-black-2);
    font-weight: 400;
  }
  
  th {
    padding-block: var(--space-xs);
    text-align: left;
  }
  
  tr {
    margin-block: var(--space-ml) !important;
    padding: var(--space-ml) !important;
  }
  
  td {
    padding: var(--space-md);
    color: var(--color-black-2);
    font-size: var(--font-size-xs);
  }
}



// common styles

.x-axis {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  // margin-block: var(--space-xl);
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: var(--space-sm)
}

.justify-between {
  justify-content: space-between !important;
}

.y-axis {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.gap-1 {
  gap: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.my-half {
  margin-block: .5em;
}

.py-half {
  margin-block: .5em;
}

.my-1 {
  margin-block: 1em
}

.my-2 {
  margin-block: 2em
}

.mr-half {
  margin-right: .5em;
}

.py-1 {
  padding-block: 1em;
}

.padded {
  padding: var(--space-xl)
}

.greyText {
  color: #8F9299
}

.w-100 {
  width: 100% !important;
}

.w-70 {
  width: 70% !important;
}

.w-50 {
  width: 50% !important;
}

.w-fit {
  width: fit-content !important;
}

.text-xs {
  font-size: 8px !important;
}

.text-small {
  font-size: 10px !important;
}

.text-medium {
  font-size: 12px !important;
}

.text-normal {
  font-size: 14px !important;
}

.text-base {
  font-size: 16px !important;
}

.text-danger {
  color: rgba(255, 0, 0, 0.704)
}

.float-left {
  float: left;
  text-align: left;
}

.float-center {
  float: center;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.tabactive {
  color: #1EB62D;
  background-color: #F0FFF1;
  font-size: 11px;
  border-radius: 8px;
  font-weight: 500;
  padding: 2px;
  text-align: center;
}

.tabActive {
  color: #1EB62D;
  background-color: #F0FFF1;
  font-size: 11px;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  padding: 0;
}

.btn-secondary {
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-size-xs);
  border: 1px solid #DE6F48;
  background: var(--color-white);
  border-radius: var(--space-sm);
  color: linear-gradient(90.55deg, #FF7418 -76.45%, #232199 107.58%) !important;
  margin-right: var(--space-md);
  cursor: pointer;
}

.dialog:hover {
  padding-inline: .7em;
  border: 1px solid #a2a6ad18;
  border-radius: 6px;
}

@media(max-width: 912px) {
  body {
    font-size: 14px !important;
  }
}

@media(max-width: 360px) {
  body {
    font-size: 12px !important;
  }
}


.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--color-grey);

  .sidebar {
    background: red;
    width: 23vw;
    height: 100%;
  }

  .header {
    height: 15%;
    border-radius: 9px;
    background: red;
  }

  .body {
    height: 80%;
    border-radius: 9px;
    background: red;
  }
}


.tabactive {
  color: var(--color-green) !important;
  // background-color: #c9f7f5;
  background: #EAFCFB;
  font-size: 11.7px;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 8px;
  text-align: center;
}

.tabinactive {
  color: #f64e60;
  background-color: #ffe2e5;
  font-size: 11.7px;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 8px;
  text-align: center;
}

.tabpending {
  color: #ffa800;
  background-color: #fff4de;
  font-size: 11.7px;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 8px;
  text-align: center;
}

.tabgrey {
  color: #5e5e5e;
  background-color: #e4e6ef;
  font-size: 11.7px;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 8px;
  text-align: center;
  border: none;
}
